<% include layout/header %>

<div class=" container container-md">
  
    <div class="card text-center mt-5">

        <div class="card-header">
          <span class="display-2" >
            <span class="fas fa-user-circle"></span>
          </span>
        </div>
  
        <div class="card-body">
          <h2>Inicia Seccion o Registrater</h2>
          
          <a href="/user/signin" class="btn btn-primary animated flipInY">
            <span class="fas fa-user"></span> Login
          </a>
          
          <a href="/user/signup" class="btn btn-primary animated flipInY">
            <span class="fas fa-user"></span> Register
          </a>
        </div>
    </div>
</div>


<% include layout/footer %>