<% include ../layout/header %>
  <div class="container">
    <form action="/user/signup" method="post">
    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
    <input type="text" name="apellidos" placeholder="Apellidos" class="form-control">
    <input type="email" name="email" placeholder="Email" class="form-control">
    <input type="password" name="password" placeholder="Password" class="form-control">
    <button type="submit"> Enviar</button>
    </form>
  </div>
<% include ../layout/footer %>